.App {
  text-align: center;
  width: 95%;
  margin: auto;
}
body {
  overflow: hidden;
}
.navbar {
  width: 100%;
  padding: 8px;
  background-color: crimson;
  color: white;
  text-align: center;
}

h1 {
  line-height: 0px;
  font-size: 22px;
}

h2 {
margin-top: 60px;
}

.navbar p {
  line-height: 0%;
  font-weight: 500;
}
 
form {
  display: block;
  width: 35%;
  margin: auto;
  padding: 20px;

}

.form-field {
  margin-bottom: 20px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}


button {
  padding: 12px 44px;
  background-color: white;
  color: black;
  border:1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: black;
  color: white;
}

.list-wp {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  align-items: top;
  padding: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.delete {
  color: crimson;
  font-weight: 600;
  line-height: 0px;
  cursor: pointer;
}





@media screen and (max-width: 880px) {
  .list-wp {
    width: 100%;
  }

  form {
    width: 100%;
    margin: auto;
  }
}